*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.source{
    display: block;
    margin-bottom: 25px;
    font-size: 25px;
}
.App{
    background-color: rgb(145, 229, 229);
    padding: 10px;
    width: 100vw;
    height: 100vh;
}